#container {
    padding-left: 50px;
    padding-right: 50px;
}

#header {
    text-align: center;
}

#footer {
    padding-left: 50px;
    padding-right: 50px;
}
#foot{
    text-align: center;
}

.card {
    height: 695px;
    text-align:justify;
}
.linkLeft {
    float:left;
    padding-left: 50px;
    padding-right: 50px;
}

.linkRight {
    float:right;
    padding-left: 50px;
    padding-right: 50px;
}